nav{
    height: 80px;
}
img{
    max-width: 60px;
}
/*todo altezze contenuti blocchi*/
.tit-btn{
    height: 100px;
}
.tabella{
    height: 600px;
}
.to-do{
    height: 250px;
}
.faq{
    height: 250px;
}
